<?xml version="1.0" encoding="utf-8" ?>
<quill>
  <dataSources>
    <dataSource name="ds">
      <provider>PostgreSQL</provider>
      <connectionString>"Server=localhost;Port=5432;Database=hotel_management;User Id=postgres;Password=postgres"</connectionString>
      <class>Seasar.Extension.Tx.Impl.TxDataSource</class>
    </dataSource>
  </dataSources>
  <assemblys>
    <assembly>Npgsql</assembly>
  </assemblys>
</quill>